body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url(./room1.jpg); 
    background-size: cover;
    background-position: center;
}


.login-box {
    background: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}


.login-box h1 {
    color: #333;
    margin-bottom: 30px;
}

.login-box label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #555;
    font-size: 20px;
}

.login-box input {
    width: 200px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.btn {
    background-color: #333; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #555; 
}
